<h1>Edit a Todo</h1>

<% if @todo.errors.any? %>
  <h2>Errors!</h2>

  <ul>
    <% @todo.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @todo, method: 'POST' do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= @todo.errors[:name].first %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= @todo.errors[:description].first %>
  </div>

  <%= f.submit "Update" %>
<% end %>
